

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-movie {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}
.more-details-container {
  border:1px solid black;
  margin:20px;
}
.more-details-name{
 margin-bottom:10px;
 font-size: 20px;

}
.movie-key {
  color: #BEBEBE;

}

.movie-value {

}